.top {
  height: 145px;
  background-image: radial-gradient(#0a99af, #057586);
  color: #fff;
  text-align: center;
  padding-top: 20px;
}
.top h1 {
  font-size: 60px;
  margin-bottom: 2px;
  letter-spacing: 3px;
  font-weight: normal;
}
.top h5 {
  font-size: 14px;
  font-weight: 500;
}
.list {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #d3d3d3;
  border-top: 0;
  border-bottom: 0;
}
.title {
  height: 80px;
  font-size: 24px;
  font-weight: 600;
  line-height: 80px;
  padding-left: 30px;
  border-bottom: 1px solid #d3d3d3;
}
.listContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, 332px);
  grid-auto-rows: 350px;
}
.bottom {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #364859;
  margin-top: 30px;
}
.bottom .text {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.bottom:hover {
  background-color: #4b5767;
}
